*{
margin: 0px;
padding: 0px;
}

body{
    position: relative;
    font-family: "Roboto", sans-serif;
     font-weight: 400;
}

header,footer{
    color: white;
    background-color: #04724D;
    padding: .5rem 1rem;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.hamburger{
    width: 1.7rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
.hamburger span{
    display: block;
    width: 100%;
    height: .25rem;
    background-color: white;
}
.hamburger.active span:nth-child(1){
    transform: rotate(45deg) translateY(0.6rem);
}
.hamburger.active span:nth-child(2){
    opacity: 0;
}
.hamburger.active span:nth-child(3){
    transform: rotate(-45deg) translateY(-0.6rem);
}
.menu{
    height: 100vh;
    width: 20rem;
    background-color: aqua;
    position: absolute;
    top: 3.35rem;
    right: -20rem;
     z-index: 1000;
      transition: right 0.3s ease;
      box-sizing: border-box;
}
.menu.active {
  right: 0;             
}

.menu ul {
  list-style: none;
  padding: 0rem 1rem;
  margin: 0;
}

.menu li {
  margin: 1rem 0;
}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}


header nav{
    display: none;
}
header ul{
    display: flex;
    gap: 2rem;
}
header li{
    list-style: none;
}

main { 
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
main section{
display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 50%;
  
}
main h1{
font-weight: 100;
color: black;
text-align: center;
padding: 1.5rem;
}
img{
object-fit: cover;
width: 100%;
height: 100%;
}
figure{
    width: 100%;
    margin-bottom: 2rem;
    height: 15rem;
}

footer p{
text-align: center;
}
footer{
    margin-top: 3rem;
}